.keycard {
    width: 310px;
    max-height: 104px; 

    border: 1px solid var(--dark-gray);
    border-radius: 15px;

    box-shadow: 0px 0px 2px 1px #00000005, 0px 32px 64px #0000000a;

    display: flex;
    align-items: center;
    gap: 15px;

    padding: 15px;

    cursor: pointer;
    transition: .2s ease-in;
}

.keycard:hover {
  scale: 1.05;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.key-user{
    position: relative;
}

.key-user > .user-class {
    width: 50px;
    height: 16px;

    background-color: var(--blue);
    border: 1px solid var(--dark-blue);
    border-radius: 23.5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%)
}

.key-user > .user-class > p {
    font-size: 9px;
    font-weight: 700;
    color: var(--white);
}

.key-user-img {
    border: 2px solid var(--dark-blue);
    border-radius: 18px;
    box-shadow: 0px 0px 2px 1px #00000005, 0px 32px 64px #0000000a;
    width: 66px;
    height: 66px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.key-user-info {
    display: flex;
    flex-direction: column;
}

.key-user-info span {
    font-size: 10.7px;
    color: #474747;
    font-weight: 500;
}

.key-user-info p {
    font-size: 15px;
    color: var(--light-black);
    font-weight: 700;
}

.key-user-info-bottom {
    display: flex;
    gap: 20px;
}