.info-card {
    width: calc(100%/3);
    height: 121px;

    border-radius: 15px;

    padding: 18px 28px;

    display: flex;
    align-items: center;
    gap: 18px;
}

.card-ic {
    width: 85px;
    height: 85px;

    background-color: var(--white);

    border: 1px solid var(--blue-card-st);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info {
    max-width: 158px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.card-info > p {
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
}

.card-info > h4 {
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
}