.header {
    width: 100%;
    height: 112px;
    padding: 70px;

    background-color: var(--white);
    border-bottom: 2px solid var(--dark-gray);

    display: flex;
    justify-content: end;
}

.header > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;  
}

/* Input */
.header > div > .input {
    width: 27.7%;
    max-width: 344px;
    height: 53px;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: 2px solid var(--dark-purple);
    border-radius: 30px;
}

.header > div > .input > input{
    width: 100%;
    height: 100%;

    padding-left: 53px;

    outline: none;
    border: none;
    border-radius: 30px;

    background-image: url(../../img/search-ic.svg);
    background-repeat: no-repeat;
    background-position: 35px center;
}

/* Notification Button */

.notif-btn {
    width: 53px;
    height: 53px;

    border: 2px solid var(--dark-purple);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    135deg,
    rgba(64, 68, 135, 1) 0%,
    rgba(16, 17, 33, 1) 100%
    );
    box-shadow: 0px 0px 2px 1px #00000008, 0px 32px 64px #0000000f;
    user-select: none;
    cursor: pointer;
}

/* Divider */
.divider {
    width: 2px;
    height: 53px;

    background-color: var(--gray-secondary);
}

/* Profile button */
.profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    cursor: pointer;
    user-select: none;
}

.profile-btn > img {
    border: 2px solid var(--dark-purple);
    border-radius: 100%;
}

.profile-btn > .profile-name {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile-btn > .profile-name > h4 {
    font-size: 16px;
    font-weight: bold;
    color: var(--light-black);
}

.profile-btn > .profile-name > p {
    font-size: 11.3px;
    font-weight: bold;
    color: var(--gray-terciary);
}