.container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 30px;
}

/* Sidebar */
.sidebar {
  width: 18%;
  max-width: 982px;
  height: 100vh;
  background-color: var(--gray-bg);
  border-right: 2px solid var(--dark-gray);
}

.container > h1 {
  margin-bottom: 13px;
}

